.button-social .p-button {
  margin-right: 0rem;
}
.button-social .p-buttonset .p-button {
  margin-right: 0;
}
.button-social .template .p-button i {
  line-height: 1rem;
}

/*Whatsapp*/

.button-social .template .p-button.whatsapp {
  background: linear-gradient(
    to left,
    var(--green-200) 50%,
    var(--green-300) 50%
  );
  background-size: 200% 100%;
  background-position: 60% bottom;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--green-300);
  height: 2rem;
  width: 9rem;
  font-size: small;
  margin-block: 1rem;
  margin-inline: 0.5rem;
}
.button-social .template .p-button.whatsapp:hover {
  background-position: left bottom;
}
.button-social .template .p-button.whatsapp i {
  background-color: var(--green-300);
  font-size: x-large;
}
.button-social .template .p-button.whatsapp:focus {
  box-shadow: 0 0 0 1px var(--green-400);
}

/*Instagram*/

.button-social .template .p-button.instagram {
  background: linear-gradient(
    to left,
    var(--pink-200) 50%,
    var(--pink-300) 50%
  );
  background-size: 200% 100%;
  background-position: 60% bottom;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--pink-300);
  height: 2rem;
  width: 9rem;
  font-size: small;
  margin-block: 1rem;
  margin-inline: 0.5rem;
}
.button-social .template .p-button.instagram:hover {
  background-position: left bottom;
}
.button-social .template .p-button.instagram i {
  background-color: var(--pink-300);
  font-size: x-large;
}
.button-social .template .p-button.instagram:focus {
  box-shadow: 0 0 0 1px var(--pink-400);
}
